* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Fraunces';
    margin-bottom: 40px;
    color: #333D4B;
}
p, a{
    font-family: 'Barlow';
    line-height: 26px;
    margin-bottom: 40px;
    color: #333D4B;
}

a {
    text-decoration: none;
    display: inline-block;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.active {
    color: rgb(15, 15, 15) !important;
}

/* Navbar Start */

.navbar {
    margin: 50px 0;
}
.nav-internal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.nav-list {
    display: flex;
}

.nav-link {
    color: #83888F;
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.nav-link:hover {
    color: #333;
}

/* Header Start */

.head-internal {
    color: #fff;
    background-color: #9fa1a5;
    padding: 100px 70px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.head-title {
    font-size: 72px;
    color: #fff;
}

.head-text {
    color: #dcdcdc;
}

.success-btn {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #0E8784;
    color: #fff;
    font-weight: 800;
}

/* Our Collection */

.collection-internal {
    display: flex;
    padding: 170px 0 100px;
    text-align: center;
    background-image: url(../img/Group\ 13.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.collection-internal img {
    margin-bottom: 30px;
}

.coffee-name {
    font-size: 24px;
    
}

.coffee-collection {
    padding: 0 15px;
    width: 25%;
}

/* Why-box Start */

.why {
    background-color: #333D4B;
    color: #fff;
    text-align: center;
    padding: 100px 80px;
    position: relative;
    height: 630px;
    border-radius: 10px;
}

.why h2 {
    font-size: 40px;
}

.why-title {
    color: #fff;
    font-size: 24px;
}

.why img {
    margin-bottom: 40px;
    width: 70px;
    height: 50px;
}

.why p {
    color: #cacaca;
}

#why-box {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 350px;
    left: 0px;
    padding: 0 50px;
}

.why-box {
    background-color: #0E8784;
    border-radius: 8px;
    width: 30%;
    padding: 50px;
}

/* footer Start */

.footer {
    margin-top: 300px;
    background-color:#333D4B;
    padding: 30px 70px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}

.font-awesome {
    display: flex;
}

.footer img {
    width: 200px;
}

.font-awesome i {
    margin-left: 15px;
    color: #fff;
}

